In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [9]:
df = pd.read_excel("../Datasets/Canada.xlsx",sheet_name=1,
                   skiprows=20,
                   skipfooter=2)

In [10]:
# set pandas to display all columns (optional)
pd.set_option('display.max_columns',None)

In [11]:
df

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,..,..,..,..,3,3,4,3,1,1,1,..,..,..,..,..,..,..,..,..,..,..,..,..,..,1,1,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,2734,3237,4094,4404,6535,9729,7244,4046,4373,4254,3094,3056,3936,4825,4868,4049,5808,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,61,100,91,119,185,328,575,534,412,702,1080,871,1129,1456,1847,1852,1699,1929,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,1115,1864,2239,3574,4693,4745,4322,4119,4262,5875,6652,6304,5930,6706,8732,12201,11979,11355,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,725,1480,1329,1319,911,834,1071,1567,2371,1474,1324,1737,1354,1492,1778,1912,1515,1258,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN
5,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,427,1316,656,788,819,1786,3545,3067,1981,2382,2390,2465,2322,2406,3164,3459,3468,3016,4333,5303,5751,5684,5511,6802,8355,6578,7834,NaN
6,Immigrants,Foreigners,Africa Total,NaN,3951,4363,3819,2671,2639,2650,3782,7494,7552,9894,11012,14228,19242,16531,13072,14806,15700,14471,13791,15996,20346,24292,22710,23366,28192,27523,29188,28284,29890,34534,40892,35441,38083,NaN
7,Immigrants,Foreigners,Asia,Central Asia,..,..,..,..,..,..,..,..,..,..,..,..,15,81,89,105,230,728,1052,717,619,728,706,825,995,1134,903,936,805,962,905,769,1029,NaN
8,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,3416,5403,5887,7796,10544,17364,15258,14543,17091,18726,23667,25521,27142,38665,44651,47564,40598,44886,43550,50306,41763,35591,39602,37497,37954,35159,40449,NaN
9,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,7801,10368,13542,19132,19713,21294,21775,29655,26847,21403,17844,14780,11503,12957,15174,18517,16769,16803,18056,22809,25105,27256,30614,34166,44199,40494,37695,NaN
10,Immigrants,Foreigners,Asia,Southern Asia,11315,11566,11591,10157,9607,7654,12468,19947,20225,20611,23353,32853,40522,41832,35472,40456,50843,54828,41239,44762,62625,68137,67420,57106,58521,69510,66742,56032,54154,53083,62284,53673,60568,NaN
11,Immigrants,Foreigners,Asia,Western Asia,4181,4662,4120,2440,2882,3430,5054,7485,7800,12717,19219,18453,13182,12626,9353,9734,10446,10526,9993,9743,11475,13137,12160,12149,13728,15494,14541,13644,14719,15726,18503,16799,12477,NaN
12,Immigrants,Foreigners,Asia Total,NaN,31025,34314,30214,24696,27274,23850,28739,43203,47454,60256,72829,89964,90752,98737,88852,90424,103030,106383,90929,106844,134544,148083,137653,131769,134850,159253,149054,133459,139894,141434,163845,146894,152218,NaN
13,Immigrants,Foreigners,Europe,Eastern Europe,1467,3698,6873,5459,4433,3969,6144,8861,11499,18671,20244,19753,17510,14201,11294,11984,13325,14089,13978,14670,16527,18846,18615,17117,18360,16724,14389,13886,11988,11759,11803,9612,9464,NaN
14,Immigrants,Foreigners,Europe,Northern Europe,23721,26608,22134,10725,10845,10212,10367,22905,29244,25642,32948,24572,35256,34911,40220,31059,30214,23926,11072,7851,9688,12728,8906,7758,8486,8153,7969,9186,10042,9846,9816,7285,7616,NaN
15,Immigrants,Foreigners,Europe,Southern Europe,7762,7037,5222,3083,3033,2868,4096,9806,8587,10650,10052,7804,5072,6867,5651,6158,5492,5188,5429,6320,4751,4272,3075,2841,3200,2806,2417,2290,2692,2948,2661,2466,2854,NaN
16,Immigrants,Foreigners,Europe,Western Europe,6810,7459,8491,5371,3976,3795,3763,5126,5396,5930,5057,5809,6285,6958,5366,6563,6611,5638,6240,6798,7249,6933,6202,6840,8036,8272,8278,8133,9970,10525,9145,7415,9243,NaN
17,Immigrants,Foreigners,Europe Total,NaN,39760,44802,42720,24638,22287,20844,24370,46698,54726,60893,68301,57938,64123,62937,62531,55764,55642,48841,36719,35639,38215,42779,36798,34556,38082,35955,33053,33495,34692,35078,33425,26778,29177,NaN
18,Immigrants,Foreigners,Latin America and the Caribbean,Caribbean,7045,8310,8326,6998,5553,6048,8716,10932,9229,10786,11596,12887,14975,16569,9936,9976,9293,8121,6298,6714,7072,8433,7507,6502,6630,6816,6652,7826,8862,8847,10549,11958,11898,NaN
19,Immigrants,Foreigners,Latin America and the Caribbean,Central America,734,921,1612,3648,4087,4862,5909,6804,5596,5821,7750,13474,12521,7769,3529,2836,3390,3469,2665,2866,3080,3157,3010,2747,3346,3990,4140,5039,4891,4814,5692,5821,6019,NaN
20,Immigrants,Foreigners,Latin America and the Caribbean,South America,5302,5984,6831,4781,4038,4261,6554,10735,7099,8453,8596,10466,10357,9502,7876,7450,5962,5584,4867,5508,6746,8477,8800,11014,12205,13941,13884,13146,12794,13206,12577,10077,9256,NaN
21,Immigrants,Foreigners,Latin America and the Caribbean Total,NaN,13081,15215,16769,15427,13678,15171,21179,28471,21924,25060,27942,36827,37853,33840,21341,20262,18645,17174,13830,15088,16898,20067,19317,20263,22181,24747,24676,26011,26547,26867,28818,27856,27173,NaN
22,Immigrants,Foreigners,Northern America,Northern America,9378,10030,9074,7100,6661,6543,7074,7705,6469,6790,5892,6054,6842,7435,5901,4890,5515,4753,4437,5196,5433,5604,4948,5543,6990,8394,9613,9463,10190,8995,8142,7676,7891,NaN
23,Immigrants,Foreigners,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,532,675,610,790,890,867,1075,1238,936,878,918,804,625,687,811,1159,1068,1221,1280,1279,1193,1383,1498,1538,1423,1226,1399,NaN
24,Immigrants,Foreigners,Oceania,Melanesia,632,707,816,558,391,448,362,524,564,736,1174,1621,1790,1317,1021,675,623,448,388,361,462,647,611,567,497,300,278,304,331,313,401,316,273,NaN
25,Immigrants,Foreigners,Oceania,Micronesia,1,..,..,1,..,..,..,..,1,2,..,..,..,1,..,1,1,..,2,1,2,4,2,4,1,2,1,3,1,2,..,..,2,NaN
26,Immigrants,Foreigners,Oceania,Polynesia,5,13,11,2,6,5,10,1,6,11,11,7,6,10,10,11,10,11,6,6,1,8,4,8,10,4,1,3,4,7,10,6,5,NaN

In [12]:
df.head() # first 5 rows

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,..,..,..,..,3,3,4,3,1,1,1,..,..,..,..,..,..,..,..,..,..,..,..,..,..,1,1,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,2734,3237,4094,4404,6535,9729,7244,4046,4373,4254,3094,3056,3936,4825,4868,4049,5808,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,61,100,91,119,185,328,575,534,412,702,1080,871,1129,1456,1847,1852,1699,1929,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,1115,1864,2239,3574,4693,4745,4322,4119,4262,5875,6652,6304,5930,6706,8732,12201,11979,11355,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,725,1480,1329,1319,911,834,1071,1567,2371,1474,1324,1737,1354,1492,1778,1912,1515,1258,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN

In [13]:
df.tail() # last 5 rows

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
22,Immigrants,Foreigners,Northern America,Northern America,9378,10030,9074,7100,6661,6543,7074,7705,6469,6790,5892,6054,6842,7435,5901,4890,5515,4753,4437,5196,5433,5604,4948,5543,6990,8394,9613,9463,10190,8995,8142,7676,7891,NaN
23,Immigrants,Foreigners,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,532,675,610,790,890,867,1075,1238,936,878,918,804,625,687,811,1159,1068,1221,1280,1279,1193,1383,1498,1538,1423,1226,1399,NaN
24,Immigrants,Foreigners,Oceania,Melanesia,632,707,816,558,391,448,362,524,564,736,1174,1621,1790,1317,1021,675,623,448,388,361,462,647,611,567,497,300,278,304,331,313,401,316,273,NaN
25,Immigrants,Foreigners,Oceania,Micronesia,1,..,..,1,..,..,..,..,1,2,..,..,..,1,..,1,1,..,2,1,2,4,2,4,1,2,1,3,1,2,..,..,2,NaN
26,Immigrants,Foreigners,Oceania,Polynesia,5,13,11,2,6,5,10,1,6,11,11,7,6,10,10,11,10,11,6,6,1,8,4,8,10,4,1,3,4,7,10,6,5,NaN

In [14]:
df.head() #first 5 rows

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,..,..,..,..,3,3,4,3,1,1,1,..,..,..,..,..,..,..,..,..,..,..,..,..,..,1,1,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,2734,3237,4094,4404,6535,9729,7244,4046,4373,4254,3094,3056,3936,4825,4868,4049,5808,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,61,100,91,119,185,328,575,534,412,702,1080,871,1129,1456,1847,1852,1699,1929,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,1115,1864,2239,3574,4693,4745,4322,4119,4262,5875,6652,6304,5930,6706,8732,12201,11979,11355,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,725,1480,1329,1319,911,834,1071,1567,2371,1474,1324,1737,1354,1492,1778,1912,1515,1258,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN