# basics 
- variables
- operators
- datattypes
- input/output

In [3]:
x = 3
a,b =10,11
c=a+b

In [4]:
x
c

21

In [5]:
l=5
b=10
area = l*b

In [6]:
area

50

In [9]:
p=200
r=10
t=5
si =(p*r*t)/100

In [10]:
si

100.0

In [11]:
 del area

# operators
- assignment
- arithmetic 
- comparison 
- logical 
- membership 
- identity

# Assignment 
+ -  =+ / *

In [12]:
x=10
x+=5
x-=2
x*=5

In [13]:
x

65

In [14]:
a=10
b=20

In [16]:
a+b

40

In [17]:
a-b

0

In [18]:
a*b

400

In [19]:
a/b

1.0

In [20]:
print (a//b) #integer devision 
print (a%b) #remainder
print (a**b) # exponent

1
0
104857600000000000000000000

In [21]:
# comparison  < > >= <= == !=
m=140
n=280
print (m>n)
print (m<n)
print (m>=n)
print (m<=n)
print (m==n)
print (m!=n)

False
True
False
True
False
True

In [27]:
# logical  and  , or ,not

print (m > 10 and n > 400)
print (not m<5)

False
True

In [28]:
# membership in ,not in 
x=[1,2,3,4,5,6,7,8,9]
print (5 in x)
print (10 in x)
print (3 not in x)
print (10 not in x)

True
False
False
True

In [29]:
# identity  is ,is not 
a=[1,2,3,4]
b=a
c=[1,2,3,4,]
print (a is b)
print (a is c)
print (b is c)

True
False
False

# Datatypes 
- int 
- float 
- bool 
- str 
- null
- list 
- tuple 
- set 
- dict (dictonary)

In [32]:
x=10
pi=3.443
happy = False 
name ="Harsh Shukla "
data = None
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
a_set = {1,2,3,4,5}
a_dict = {'a':10 , 'b':20}