# Control Flow 
### Condition 
- if
- if else
- if elif ladder
- match case 
- nested if 
### Loops
- for loop 
- while loop 

# Syntax:

if expression:
  - statement 1
  - statement 2
  - statement 3
  - statement 4


   statement n



if expression:
    ...
else:
    ...

In [3]:
x= 20
if x >=5:
    print("ðŸŒž Bad Weather")

y= 5
if x > 10 and y < 2:
    print ("ðŸŒ§ï¸ Good Weather")

name = 'Harsh'
if name:
    print("Name exists")

ðŸŒž Bad Weather
Name exists

In [5]:
m='bakassbccke'
if len(m):
    print ("List is not empty")
else:
    print("a is empty")

List is not empty

In [6]:
a=5                             # C ids bigger 
b=2
c=10
if a>b and a>c:
    print ("A is the greatest  ")
elif b>a and b>c:
    print ("B is the  greatest ")
else:
    print("C is the greatest")

C is the greatest

In [7]:
a=5                               # B is bogger 
b=200
c=10
if a>b and a>c:
    print ("A is the greatest  ")
elif b>a and b>c:
    print ("B is the  greatest ")
else:
    print("C is the greatest")

B is the  greatest

In [8]:
a=591                             # A is bigger 
b=2
c=10
if a>b and a>c:
    print ("A is the greatest  ")
elif b>a and b>c:
    print ("B is the  greatest ")
else:
    print("C is the greatest")

A is the greatest

In [13]:
     # Grade Calculation with if elif ladder 
marks = int(input("Enter the marks"))
if marks >=90:
    grade ="A"
elif marks >=75:
    grade ="B"
elif marks >=60:
    grade ="C"
elif marks >=50:
    grade ="D"
else:
    grade ="F"
print (f"Student Marks = {marks}")
print("---"*10)
print (f"Student Grade = {grade}")

Student Marks = 78
------------------------------
Student Grade = B

In [20]:
                           # Match Case example
ans = input("What is India's Capital ").title()     # .title is used for changing the first word case 
match ans:
    case 'Kanpur':
        print("You are fool ðŸ®")
    case 'Delhi':
        print("You are corret ðŸ’¥")
    case 'Mumbai':
        print("You are wrong ðŸ·")
    case 'Nagpur':
        print("You are not of India ðŸ¸")
    case _:
        print("You memory is lossed ðŸ¤¯")

You are corret ðŸ’¥

In [23]:
                     # Match case example 
print("Chai ki dukan ")
print("1. Chai 10 Rs")
print("2. Bun 25 Rs")
print("3. Maggi 40 Rs")
print("4. Samosa 10 Rs")
choice = int(input("Enter your choice: "))
match choice:
    case 1:
        print("You have selected Chai ")
    case 2:
        print("You have selected Bun ")
    case 3:
        print("You have selected Maggi ")
    case 4:
        print("You have selected Samosa ")
    case _:
        print("invalid Choice")

Chai ki dukan
1. Chai 10 Rs
2. Bun 25 Rs
3. Maggi 40 Rs
4. Samosa 10 Rs
You have selected Bun

## Loops
- step based loop (for loop)
- condition based loop(while loop)


*** python syntax for for loop           
for varname in iterable:
    statement 1 
    statement 2

    ...

    statement n


*** python syntax for while loop 
while expression 
    statement 1
    statement 2

    ...


    statement n

In [4]:
# Example 1 of for loop
n = [1,2,3,4,5,6]
for i in n:
    print(i)

1
2
3
4
5
6

In [5]:
# Example 2 of for loop
brands=['sony','apple','lava','lenovo']
for name in brands:
    print(name)

sony
apple
lava
lenovo

# Iterable
- list
- str
- tuple
- set
- dict
- range
- generator

In [6]:
# Example 
word='TUESDAY'
for ch in word: 
    print(ch)

T
U
E
S
D
A
Y

In [7]:
#Example 
for i in {12,34,56,76,87,233,22}:
    print(i)

34
233
12
76
22
87
56

'range' funtion for the ' for loop'

In [10]:
for i in range (50):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [11]:
for i in range (10,50):
    print(i, end=' ')

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [12]:
for i in range (10,50,5):
    print(i, end=' ')

10 15 20 25 30 35 40 45

In [14]:
# reverse loop 
for i in range(10,0,-1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [17]:
for i in range(-6,6,-1):
    print(i, end=' ')

In [22]:
for i in range(-5,6,):
    print(i, end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5

In [28]:
# sum of all number from 1-100
total=0;
for i in range(1,101):
    total=total+i
print("Sum of all numbers 1 to 100")
print('---'*10)    
print(total)

Sum of all numbers 1 to 100
------------------------------
5050

In [30]:
# using sum funtion in python

sum(list(range(1,101)))

5050

In [47]:
# find largest word in the list 
word = ['ben','rohan','suresh','hdh']
lar=' '
for item in lar:
    if len(lar) > len(word):
         word=lar
print(word)

['ben', 'rohan', 'suresh', 'hdh']

In [49]:
for i in range(10):
    if i == 5:
        break
    print(i, end=' ')
print("the end")

0 1 2 3 4 the end

In [51]:
data =[1,2,3,0,5,6,7,8,9]
for i in data:
    if i == 0:
        print("We found some error")
        break # stop the loop 
    print(i)

1
2
3
We found some error

In [52]:
data =[1,2,3,0,5,6,7,8,9]
for i in data:
    if i == 0:
        continue # skip for the next
        
    print(i)

1
2
3
5
6
7
8
9

In [53]:

fruits =['apple','banana','mango','kiwi','orange']
for idx,name in enumerate(fruits):
    print(idx, name)

0 apple
1 banana
2 mango
3 kiwi
4 orange

In [58]:
numbers =['22','544','12','32','34']
for idx,num in enumerate(numbers):
    print(num ,-idx)

22 0
544 -1
12 -2
32 -3
34 -4

In [56]:
numbers =['22','544','12','32','34']
for idx,num in enumerate(numbers):
    print(num*idx)

544
1212
323232
34343434

In [62]:
x= [1,2,3]
y= [4,5,6]
for i,j in zip(x,y):
    print(i + j)

5
7
9